body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.pointer {
    cursor:pointer;
}

.c-auto {
    cursor:default;
}

.textarea {
    resize: none;
}

.txt-none {
    text-decoration: none;
    color:#000;
}

.bold {
    font-weight: bold;
}

.txt-hover-reset:hover {
    color:#000;
}

.bg-none {
    background-color:transparent;
}

.border-none {
    border: none;
}

.ellipsis {
    display: -webkit-box;
    /* max-height: 150px; */
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

