body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.pointer {
    cursor:pointer;
}

.c-auto {
    cursor:default;
}

.textarea {
    resize: none;
}

.txt-none {
    text-decoration: none;
    color:#000;
}

.bold {
    font-weight: bold;
}

.txt-hover-reset:hover {
    color:#000;
}